<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <div id="status">
      <p>Remaining tries: {{this.fails}}/6</p>
    </div>
    <!-- <div *ngIf="!this.pickedWord.image">
      <img *ngIf="resultGameStatus() === 'You win !'" src="../../assets/images/error-image.jpg"
        onerror="this.src = '../../assets/images/error-image.jpg'" />
    </div>
    <div *ngIf="!this.pickedWord">
      <img *ngIf="resultGameStatus() === 'You win !'" src="../../assets/images/error-image.jpg" />
    </div>
    <img *ngIf="resultGameStatus() === 'You lose !'" src="../../assets/images/youloose.jpg"
      onerror="this.src = '../../assets/images/error-image.jpg'" />
  -->
    <span id="hint">{{this.encryptedWord}}</span> 
  <div id="wrapper-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-label> Choose a letter or dare to find the whole word </mat-label>
      <mat-form-field>
        <mat-label>letter or word</mat-label>
        <input matInput type="text" formControlName="letterForm" minlength="1">
        <!-- <button mat-button id="clear" *ngIf="this.form.value.letterForm" matSuffix mat-icon-button aria-label="Clear"
          (click)="this.form.value.letterForm=''">
          <mat-icon>close</mat-icon>
        </button> -->
      </mat-form-field>

      <button mat-button type="submit" id="submit" (keyup.enter)="onSubmit()" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
  <span id="result">{{resultGameStatus}}</span>
  <div id="wrapper-result">
    <button mat-button id="reset" *ngIf="isGameStopped" (click)="resetGame()">
      <mat-icon  aria-label="" aria-hidden="false">restart_alt</mat-icon>
      Reset Game
    </button>
  </div>
</div>




<!-- <div id="container">
    <canvas id="hangman" width="180" height="250"></canvas>
  </div> -->