<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <h2>Hangman Game</h2>

  <div id="status">
    <p>Remaining attempts: {{getFails()}}/6</p>
    <p>Current series of win: {{getRatio()}} </p>
  </div>

  <div class="img-container">
    <img *ngIf="getResultStatus() === 'You win !'" src="{{getPickedWordImage()}}"
      onerror="this.onerror=null;this.src='../../assets/images/error-image.jpg';" />
    <img *ngIf="getResultStatus() === 'You lose !'" src="../../assets/images/youloose.jpg" />

  </div>

  <span id="hint">{{getEncryptedWord()}}</span>

  <mat-card class="mat-elevation-z3">
    <mat-label> Choose a letter or dare to find the whole word </mat-label>
    <mat-card-content>
      <div id="wrapper-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput type="text" placeholder='letter or word' formControlName="letterForm" minlength="1" autocomplete="off">
           
          </mat-form-field>
           



          <button mat-button type="submit" id="submit" (keyup.enter)="onSubmit()"
            [disabled]="!form.valid">Submit</button> 
            <p id="warn-error" *ngIf="form.controls['letterForm'].errors && this.form.value.letterForm">
              Letters only
            </p>
        </form>
      </div>
      <div id="wrapper-result" fxLayout="column" fxLayoutAlign="space-evenly center">
        <span id="result">{{getResultStatus()}}</span>
        <button mat-button id="reset" *ngIf="getIsGameStopped()" (click)="resetGame()">
          <mat-icon aria-label="" aria-hidden="false">restart_alt</mat-icon>
          Reset Game
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div id='wrapper-alphabet'>

  </div>
  <canvas #myCanvas width="150" height="250">
    Your browser does not support the canvas element.
  </canvas>
</div>


<!-- 


<div class="alphabet">
</div>  -->