mat-label {
    padding: 5px;
}

#container, .buttons {
  text-align: center;
  margin: 0px auto;
}

button {
  padding: 10px;
  margin: 10px;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
}

canvas {
  text-align: center;
}

#hint {
  letter-spacing: 16px;
  font-size: 42px;
  padding: 15px;
  margin-bottom: 50px;

}


mat-form-field {
    width: 225px;
}

#clear {
width: 40px;
height: 40px;
}

.img-container {
height: 95px;
}
img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    animation: img ease 1s;
    -webkit-animation: img ease 1s;
    -moz-animation: img ease 1s;
    -o-animation: img ease 1s;
    -ms-animation: img ease 1s;
  }

  @keyframes img {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes img {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes img {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes img {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes img {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  