<mat-card class="mat-elevation-z5">
    <div fxLayout="column" fxLayoutAlign="space-evenly center">

    <img mat-card-image src="https://ccrs2006.github.io/Hangman-Game/assets/images2/logo.png" />

    <mat-card-header>
        <mat-card-title>The Hangman</mat-card-title>
        <mat-card-subtitle>Rules of the game</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>

        <mat-list role="list">
            <mat-list-item role="listitem">You have 6 wrong guess max</mat-list-item>
            <mat-list-item role="listitem">You can type letter by letter or type the whole word to guess it
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="../game" routerLinkActive="active">Launch game</button>
    </mat-card-actions>
</div>
</mat-card>
